{% extends "base.html" %}
{% block title %}chat-{{ recipient.id }}{% endblock %}

{% block content %}

    <link rel="stylesheet" href="../static/css/style.css">  
    <style>
        a{
            color: white;
        }
        .content_area{
            padding: 20px 20px 20px 20px;
            display: flex;
            row-gap: 10px;
            flex-direction: column;
        }
        .recipient_info,.chat,.input_box,.input_box input{
            width: 100%;
            display: flex;
            padding: 20px;
            border-radius: 15px;
            background-color: var(--accent-color);
        }
        .recipient_info{
            align-items: end;
            column-gap: 20px;
        }
        .recipient_info img{
            margin-left: 3%;
            width: 70px;
            height: 70px;
        }
        .chat{
            flex-direction: column;
            height: 80vh;
            row-gap: 20px;
            overflow: auto;
        }
        .msg{
            display: flex;
            width: 100%;
            overflow: visible;
        }
        .msg .msg_text{
            background-color: var(--secondary-bg);
            color: var(--secondary-text-color);
            width: fit-content;
            border-radius: 15px;
            padding: 10px;
            overflow: visible;
        }
        .blog_link a{
            color: var(--link-highlight);
        }
        form button{
            margin: 0;
            border-radius: 15px;
            padding: 0;
            width: 70px;
            background-color: var(--link-highlight);
        }
        form button img{
            width: 50px;
        }
        #input-box{
            border: none;
            padding: 0px 20px;
            font-size: 1rem;
            background-color: var(--secondary-bg);
        }
        form{
            display: flex;
            column-gap: 15px;
            padding: 0px;
        }
    </style>

    <div class="full_page">
        
        <div class="content_area">
            <!-- <div class="recipient_info"> -->
            <a href="{{ url_for('view_user', user_id=recipient.id) }}" class="recipient_info"> 
                <img class="profile_img" src="../static/img/profil_img/{{ recipient.name[0].lower() }}.png" alt="">
                <h1>{{ recipient.name }}</h1>
            </a>
                
            <!-- </div> -->
            <div class="chat">
                {% if old_msgs %}
                    {% for msg in old_msgs %}
                        {% if msg.message_type == 'blog' %}
                            <div class="msg" style="justify-content:{% if msg.sender_id == session['user_id'] %} end {% endif %}  ">
                                <div class="msg_text blog_link">
                                <a href="{{ msg.attachment_url }}">
                                    <small><span>From: {% if msg.sender_id == session['user_id'] %}{{ session['user_fname']+' '+session['user_lname'] }} {% else %} {{ recipient.name }} {% endif %}  </span><span> To: {% if msg.recipient_id == session['user_id'] %}{{ session['user_fname']+' '+session['user_lname'] }} {% else %} {{ recipient.name }} {% endif %}</span></small>
                                   
                                    <h3>Message: {{ msg.content }}</h3>
                                    <p>Time: {{ msg.timestamp.strftime("%m-%d-%Y %I:%M %p") }}</p>
                                </a>
                                </div>
                            </div> 
                        {% else %}
                            <div class="msg" style="justify-content:{% if msg.sender_id == session['user_id'] %} end {% endif %}  ">
                                <div class="msg_text">
                                    <small>From: {% if msg.sender_id == session['user_id'] %}{{ session['user_fname']+' '+session['user_lname'] }} {% else %} {{ recipient.name }} {% endif %}</small>

                                    <h3>Message: {{ msg.content }}</h3>
                                    <p>Time: {{ msg.timestamp.strftime("%m-%d-%Y %I:%M %p") }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <h1>start new chat</h1>
                {% endif %}
            </div>
            <form action="/message" method="POST" class="input_box"  id="messageForm">
                <input type="text" name="content" id="content" placeholder="Type here...">

                <button type="submit" id="send-btn"><img class="icon" src="../static/img/send.png" alt=""></button>
            </form>
        </div>

        {% include '_side_bar.html' %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                socket = io();

                socket.on('connect', function(){
                    console.log('connected to server')
                })

                recipient_id = "{{ recipient.id }}";
                sender_id = "{{ session['user_id']}}";
                recipient_name = "{{ recipient_name }}";
                type = "text";

                document.getElementById('messageForm').onsubmit = (e) =>{
                    e.preventDefault();

                    content = document.getElementById('content').value;

                    msg = {
                    content : content,
                    sender_id : sender_id,
                    recipient_id : recipient_id,
                    type : 'text'
                    } 

                    socket.emit('send_message', msg);

                    console.log('message sent: '+msg.content+ ' ' + msg.sender_id+ ' '+ msg.type);
                }
            })

        </script>

    </div>

{% endblock %}