{% extends "base.html" %}
{% block title %}Your Blogs{% endblock %}
{% block content %}
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        .content_area{
            padding: 40px 20px 20px 20px;
            overflow: auto;
        }
        .content_area h1{
            margin-bottom: 20px;
        }
        .blog{
            padding: 20px;
            background-color: var(--secondary-bg);
            
            border-radius: 15px;
            margin-bottom: 25px;
        }
        .blog a{
            color: var(--secondary-text-color);
        }
        .icon{
            width: 40px;
            height: 40px;
        }
        .like_comment_share{
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            padding: 10px 0px;
            margin-top: 20px;
        }
        .like_comment_share a{
            width: 10%;
        }
        hr{
            width: 80%;
            text-align: center;
        }
        .pop_up{
            position: absolute;
            top: 50%;
            right: 50%;
            padding: 20px;
            background-color:aquamarine;
            border-radius: 15px;
            color: black;
            border: none;
            text-align: center;
        }
        .pop_up button{
            width: 80%;
            cursor: pointer;
        }
    </style>
    
    <script src="{{ url_for('static', filename='js/close_flash_message.js') }}"></script>
    
    <div class="full_page">
        <div class="content_area">
            {% include 'flash_msg.html' %}

            <u><h1>Your Saved blogs</h1></u>
           
            {% if saved_blogs %}
                {% for blog in saved_blogs %}
                    <div class="blog">
                        <a href="{{ url_for('view_blog', blog_id=blog.blog_id) }}">
                            <h1>{{ blog.blog.blog_title }}</h1>
                            <p>Saved on: {{ blog.date_saved.strftime('%d-%m-%Y %I:%M %p') }} | Posted on: {{ blog.blog.date_posted.strftime('%d-%m-%Y %I:%M %p') }}</p>
                        </a>

                        <div class="like_comment_share">
                            <a href="{{ url_for('like_blog', blog_id=blog.blog_id, from_addr='saved_blogs') }}">
                                {% if like %}
                                    <img class="icon" src="{{ url_for('static', filename='img/unlike.png') }}" alt="" />
                                {% else %}
                                    <img class="icon" src="{{ url_for('static', filename='img/like.png') }}" alt="" />
                                {% endif %}
                            </a>
                            <a href="/share_blog/{{ blog.blog_id }}">
                                <img class="icon" src="../static/img/share.png" alt="">
                            </a>
                            <a href="{{ url_for('delete_saved_blog', blog_id=blog.blog_id, from_addr='saved_blogs') }}">
                                <img class="icon" src="../static/img/delete.png" alt="">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h2>You have no Saved Blogs</h2>
            {% endif %}
        </div>
        
        {% include '_side_bar.html' %}
    </div>

{% endblock %}
