{% extends 'base.html' %}
{% block title %}Share Blog{% endblock %}

{% block content %}

    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        .content_area{
            text-align: center;
        }   
        .content_area h1{
            text-align: start;
        }
       .search {
            margin-bottom: 40px;
            font-size: 1.5rem;
            width: 100%;
            padding: 3px 15px;
            border: none;
            border-radius: 15px;
            color: rgba(0, 0, 0, 0.529);
        }
        input:focus{
            outline: none;
            box-shadow: none;
        }
        .share_form button{
            width: 50%;
         
        }
        .user_list{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
        .user_checkbox{
            width: 80%;
            display: flex;
            align-items: center;
            column-gap: 25px;
            padding: 15px;
            border-radius: 15px;
            background-color: var(--secondary-bg);
            
            user-select: none;
        }
        .lable{
            color: var(--secondary-text-color);
            font-size: 1.3rem;
            display: flex;
            cursor: pointer;
            flex-direction: column;

        }
        .user_checkbox img{
            width: 50px;
            height: 50px;
        }
        .email{
            font-size: 1rem;
        }

    </style>

    <div class="full_page">
        {% include 'flash_msg.html' %}

        <div class="content_area">
            <u><h1>Share Blog with</h1></u>
            
            
            <form action="/send_msg" class="share_form" method="POST" id="users_form">
                <input type="text" name="search" class="search" placeholder="search user here">
            <hr>
                <input type="hidden" name="type" value="blog">
                <input type="hidden" name="blog_id" value="{{ blog_id }}">

                <button type="submit">share-blogs</button>

                <div class="user_list">
                    {% if users_f %}
                        {% for user in users_f %}
                            <div class="user_checkbox" for="user_{{ user.id }}" for="user_{{ user.id }}" >
                                <img class="profile_img" src="../static/img/profil_img/{{ user.user_fname[0].lower() }}.png" alt="">

                                <input class="checkbox" type="checkbox" name="user_ids" value="{{ user.id }}" id="user_{{ user.id }} usersList">
                                <div>
                                    <label class="lable" for="user_{{ user.id }}">{{ user.user_fname+' '+user.user_lname }}</label>
                                    <label class="lable email" for="user_{{ user.id }}">({{ user.user_email }})</label>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

            </form>
        </div>
        {% include '_side_bar.html' %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () =>{
            socket = io();

            socket.on('connect', function(){
                console.log('connected to server')
            })

            document.getElementById('users_form').onsubmit = (e) => { 
                e.preventDefault(); 
                 blog_id = "{{ blog_id }}"; 
                 user_ids = []; 
                
                document.querySelectorAll('input[name="user_ids"]:checked').forEach((checkbox) => { 
                    user_ids.push(checkbox.value); 
                }); 
                
              
                console.log(blog_id); 
                console.log(user_ids);

                socket.emit('send_blog', type = 'blog', blog_id = blog_id, recipient_list = user_ids )
            };
        })
    </script>
{% endblock %}
