{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        .full_page{
            background-color:blueviolet ;
            flex-direction: column;
        }
        .flash-message{
            position: relative ;
            top: -10px;
        }
    </style>
    <div class="full_page">
        {% include 'flash_msg.html' %}
        
        <form method="POST" class="login_form" action="{{url_for('login')}}">
            <span class="form_heading">Login</span>

            {% from 'macros.html' import input_group %}

            {{ input_group('User Id','user_email') }}
            {{ input_group('Password','user_password','password') }}

            <button type="submit">Login</button>

            <p>-----------or-----------</p>
            <p>Don't have account yet? <a href="{{url_for('register')}}"><b>Register</b></a> here</p>


        </form>
        <script src="{{ url_for('static', filename='js/close_flash_message.js') }}"></script>

        
    </div>

{% endblock %}