{% extends "base.html" %}
{% block title %}Notifications{% endblock %}

{% block content %}

<link rel="stylesheet" href="../static/css/style.css">
<style>
    .content_area{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .notifications{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    .notification{
        padding: 20px;
        border-radius: 15px;
        width: 80%;
        height: fit-content;
        background-color: var(--secondary-bg);
        color: var(--secondary-text-color);
        
    }
</style>
<div class="full_page">
    <div class="content_area">
        {% include 'flash_msg.html' %}

        <u><h1>Your Notifications</h1></u>
        <script src="../static/js/close_flash_message.js"></script>

        <div class="notifications">
            {% if ntfy %}
                {% for notif in ntfy %}
                    <div class="notification">
                        <p>{{ notif.message }}</p>
                        <small>{{ notif.date_created }}</small>
                    </div>
                {% endfor %}
            {% else %}
                <div class="notification">
                    <p>No notifications found.</p>
                </div>
            {% endif %}
        </div>
    </div>

    {% include '_side_bar.html' %}

</div>




{% endblock %}