{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}  
<link rel="stylesheet" href="../static/css/style.css">
<style>
    .full_page{
        background-color: blueviolet;
    }
    .flash-message{
        position: relative ;
        top: -10px;
    }
</style>

    <div class="full_page">

    <form class="register_form" action="{{url_for('register')}}" method="POST">
        {% include 'flash_msg.html' %}
        
        <span class="form_heading">Register</span>

        {% from "macros.html" import input_group %} 
       
        {{ input_group('First Name', 'user_fname') }} 
        {{ input_group('Last Name', 'user_lname') }} 
        {{ input_group('Mobile NO', 'user_mob_no') }} 
        {{ input_group('Email Id', 'user_email', 'email') }} 
        {{ input_group('Password', 'user_password', 'password') }}

        <button type="submit" >Register Now</button>

        <p>-----------or-----------</p>
        <p>Alredy have account? <a href="{{url_for('login')}}"><b>Login</b></a> here</p>
    </form>

    </div>
{% endblock %}










    <!-- <div class="input_group">
            <label for="user_fname">First Name</label>
            <input type="text" id="user_fname" name="user_fname" >
        </div>
        <div class="input_group">
            <label for="user_lname">Last Name</label>
            <input type="text" id="user_lname" name="user_lname" >
        </div>
        <div class="input_group">
            <label for="user_mob_no">Mobile NO</label>
            <input type="text" id="user_mob_no" name="user_mob_no" >
        </div>
        <div class="input_group">
            <label for="user_email">Email Id</label>
            <input type="email" id="user_email" name="user_email" >
        </div>
        <div class="input_group">
            <label for="user_password">Password</label>
            <input type="password" id="user_password" name="user_password">
        </div> -->