{% extends 'base.html' %}
{% block title %}User - {{ user.user_fname }} {{ user.user_lname }}{% endblock %}
{% block content %}
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        .content_area {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .profile_info {
            width: 40%;
            background-color:var(--secondary-bg);
            color: var(--secondary-text-color);
            border-radius: 15px;
            padding: 20px;
            text-align: center;
        }
        .profile_img {
            background-color: var(--accent-color);
            /* Add your styles here if needed */
        }
        .name_and_email {
            /* Add your styles here if needed */
        }
        .chat_and_follow{
            width: 100%;
            justify-content: center;
            
            column-gap: 20px;
        }
        .chat_and_follow button{
            width: 250px;
            padding: 5px 20px;
        }
        .blogs{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            width: 100%;
        }
        .blog{
            width: 100%;
            padding: 20px;
            border-radius: 15px;
            background-color: var(--secondary-bg);
            color: var(--secondary-text-color);
        }
    </style>
    <script src="../static/js/close_flash_message.js"></script>

    <div class="full_page">
        <div class="content_area">
            {% include 'flash_msg.html' %}

            <div class="profile_info">
                <img class="profile_img" src="../static/img/profil_img/{{ user.user_fname[0].lower() }}.png" alt="">
                <div class="name_and_email">
                    <h2>Name: {{ user.user_fname+' '+user.user_lname }}</h2>
                    <h2>Email: {{ user.user_email }}</h2>
                    <div class="chat_and_follow">
                        <form action="/chat_with_user" method="POST">
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            <input type="hidden" name="user_name" value="{{ user.user_fname+' '+user.user_lname }}">
                            <button type="submit">Message</button>
                        </form>
                        {% if user.id in followings_ids %}
                            <form action="/unfollow" method="post">
                                <input type="hidden" name="follows_id" value="{{ user.id }}">
                                <input type="hidden" name="user_name" value="{{ user.user_fname + ' ' + user.user_lname }}">
                                <input type="hidden" name="from_addr" value="view_user">
                                <button type="submit">Unfollow</button>
                            </form>
                        {% else %}
                            <form action="{{ url_for('follow', user_id=user.id, user_name=user.user_fname + ' ' + user.user_lname, from_addr='view_user') }}" method="post">
                                <input type="hidden" name="from_addr" value="view_user">
                                <button type="submit">Follow</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="blogs">
                <h1>Blogs published</h1>
                {% for blog in blogs %}
                    <a href="{{ url_for('view_blog', blog_id=blog.blog_id) }}">
                        <div class="blog">
                            <h3>Title: {{ blog.blog_title }}</h3>
                            <p>Posted on: {{ blog.date_posted.strftime('%d-%m-%Y %I:%M %p') }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
            
        </div>
        {% include '_side_bar.html' %}
    </div>

{% endblock %}
