{% extends "base.html" %}

{% block title %}
{{ blog.blog_title }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/style.css" />

<style>
    .content_area {
        padding: 20px;
        overflow: auto;
    }
    .blog_heading {
        position: sticky;
        top: 0;
    }
    .blog {
        padding: 20px;
        background-color: var(--secondary-bg);
        color: var(--secondary-text-color);
        border-radius: 15px;
        margin-bottom: 0px;
        border-bottom-left-radius: 0px;
    }
    .icon {
        width: 40px;
        height: 40px;
    }
    .like_comment_share {
        background-color: var(--secondary-bg);
        border-top: 1px groove black;
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        padding: 10px 0px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-bottom: 15px;
    }
    .like_comment_share a {
        width: 10%;
    }
    textarea:focus {
        outline: none;
        box-shadow: none;
    }
    .comment_form textarea {
        width: 100%;
        font-size: 1.5rem;
        border: none;
        border-radius: 15px;
        padding: 20px;
        overflow: auto;
    }
    .comment_form button {
        width: fit-content;
        position: relative;
        padding: 10px;
        right: -94%;
        top: -105px;
        background-color: var(--accent-color);
    }
    .comment_form button img {
        width: 50px;
    }
    .comment_form {
        height: 8%;
        position: static;
        margin-bottom: 20px;
    }
    .comments {
        padding: 0px 20px 20px 20px;
        border-radius: 15px;
        background-color: var(--secondary-bg);
        color: var(--secondary-text-color);
    }
    .each_comment {
        display: flex;
        justify-content: space-between;
        align-items: end;
        row-gap: 10px;
        column-gap: 20px;
        width: 100%;
        margin: 20px 0px 0px 0px;
    }
    h3{
        margin-top: 20px;
    }
</style>
<script src="{{ url_for('static', filename='js/close_flash_message.js') }}"></script>
<div class="full_page">
    <div class="content_area">
        {% include 'flash_msg.html' %}
        
        <div class="blog">
            <div class="blog_heading">
                <h1>{{ blog.blog_title }}</h1>
            </div>
            <p>by {{ blog.author_name }} on {{ blog.date_posted }}</p>
            <div>{{ blog.blog_content | safe }}</div>
        </div>
        <div class="like_comment_share">

            <a href="{{ url_for('like_blog', blog_id=blog.blog_id, from_addr='view_blog') }}">
                {% if like %}
                    <img class="icon" src="{{ url_for('static', filename='img/unlike.png') }}" alt="" />
                {% else %}
                    <img class="icon" src="{{ url_for('static', filename='img/like.png') }}" alt="" />
                {% endif %}
            </a>

            {% if blog.blog_id in saved_blog_ids %}
                <a href="{{ url_for('delete_saved_blog', blog_id=blog.blog_id, from_addr='view_blog') }}">
                    <img class="icon" src="../static/img/delete.png" alt="">
                </a>
            {% else %}
                <a href="{{ url_for('save_blog', blog_id=blog.blog_id, from_addr='view_blog') }}">
                    <img class="icon" src="{{ url_for('static', filename='img/saved.png') }}" alt="">
                </a>
            {% endif %}

            <a href="/share_blog/{{ blog.blog_id }}">
                <img class="icon" src="../static/img/share.png" alt="">
            </a>
        </div>
        <form action="{{ url_for('comment') }}" method="post" class="comment_form">
            <textarea class="comment-here" name="content" placeholder="Write your comment here..." required></textarea>
            <input type="hidden" name="blog_id" value="{{ blog.blog_id }}" />
            <button type="submit">
                <img class="send_button" src="../static/img/send.png" alt="" />
            </button>
        </form>
        <h2>Comments on this blog</h2>
        <div class="comments">
            {% if comments %}
                {% for comment in comments %}
                    <div class="each_comment">
                        <div>
                            <p><b>{{ comment.content }}</b></p>
                            <small>by {{ comment.user_email }}</small>
                        </div>               
                        <small class="comment_time"> {{ comment.date_posted }}</small>
                    </div>
                    <hr />
                {% endfor %}
            {% else %}
                <h3>be the first commenter of this post</h3>
            {% endif %}
        </div>
    </div>
    {% include '_side_bar.html' %}
</div>
{% endblock %}
