{% extends "base.html" %}
{% block title %}Your Blogs{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        
        .content_area{
            overflow: auto;
        }
        .blog{
            padding: 20px;
            background-color: var(--secondary-bg) ;
            color: var(--secondary-text-color);
            border-radius: 15px;
            margin-bottom: 25px;
        }
        .blog a{
            color: var(--secondary-text-color);
        }
        .icon{
            width: 40px;
            height: 40px;
        }
        .like_comment_share{
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            padding: 10px 0px;
            margin-top: 20px;

        }
        .like_comment_share a{
            width: 10%; 
        }
        hr{
            width: 80%;
            text-align: center;
        }
        
    </style>


    <div class="full_page">
        
        <div class="content_area">
            <u><h1>Your Published Blogs</h1></u>
            <script src="../static/js/close_flash_message.js"></script>
            {% include 'flash_msg.html' %}
            
            {% for blog in blogs: %}
                <div class="blog">
                    <a href="blog/{{ blog.blog_id }}">
                        <h1>{{ blog.blog_title }}</h1>
                        <p>by {{ blog.author_name }} on {{ blog.date_posted }}</p>
                    </a>
                
                    <div class="like_comment_share">
                        <a href="">
                            <img class="icon" src="../static/img/like.png" alt="">
                        </a>
                        {% if blog.blog_id in saved_blog_ids %}
                            <a href="{{ url_for('delete_saved_blog', blog_id=blog.blog_id, from_addr='your_blogs') }}">
                                <img class="icon" src="../static/img/delete.png" alt="">
                            </a>
                        {% else %}
                            <a href="{{ url_for('save_blog', blog_id=blog.blog_id, from_addr='your_blogs') }}">
                                <img class="icon" src="{{ url_for('static', filename='img/saved.png') }}" alt="">
                            </a>
                        {% endif %}
                        <a href="/share_blog/{{ blog.blog_id }}">
                            <img class="icon" src="../static/img/share.png" alt="">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% include '_side_bar.html' %}

    </div>

    <script src="{{ url_for('static', filename='js/close_flash_message.js') }}"></script>


{% endblock %}
